!!!
%html
  %head
    %title Fun with View Resolvers
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
    /[if IE]
      = javascript_include_tag 'html5'
  %body
    = render 'flashes'
    = render 'nav'
    #content
      = yield
